{{ form_start(partForm) }}
<div class="row mt-5 justify-content-center">
    <div class="col-11 d-flex">
        <div class="w-25 mt-5 d-flex flex-column justify-content-between">
            <div class="row my-5">
                <div class="col">
                    {{ form_row(partForm.partCategory) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    {{ form_row(partForm.partOrigin) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    {{ form_row(partForm.partDescription) }}
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center w-50">
            <div class="row mb-5">
                <div class="col">
                    {{ form_row(partForm.partName) }}
                </div>
            </div>
            <div class="row w-100 mb-5">
                <div class="col d-flex justify-content-between">
                    <div class="w-100 d-flex flex-column justify-content-between align-items-center">
                        <span class="node-horizontal d-flex" style="transform: skew(17deg,17deg)"></span>
                        <span class="node-horizontal d-flex"></span>
                        <span class="node-horizontal d-flex" style="transform: skew(-17deg,-17deg)"></span>
                    </div>
                    <button class="btn btn-outline-dark btn-add fs-4"><i class="bi bi-plus fs-1"></i><br>Add Schematic
                    </button>
                    <div class="w-100 d-flex flex-column justify-content-between align-items-center">
                        <span class="node-horizontal d-flex" style="transform: skew(-17deg,-17deg)"></span>
                        <span class="node-horizontal d-flex"></span>
                        <span class="node-horizontal d-flex" style="transform: skew(17deg,17deg)"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-25 mt-5 d-flex flex-column justify-content-between">
            <div class="row my-5">
                <div class="col">
                    {{ form_row(partForm.partPower) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    {{ form_row(partForm.partDurability) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    {{ form_row(partForm.partCost) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-center">
        <button type="submit" class="btn btn-success fs-4 mt-5 me-3"><i class="bi bi-floppy me-2"></i> Save</button>
        <button type="button" class="btn btn-danger fs-4 mt-5 ms-3"><i class="bi bi-trash me-2"></i> Clear</button>
    </div>
</div>
{{ form_end(partForm) }}
